
@{
    ViewBag.Title = "Banner";
}
<div class="slide animation__style10 bg-image--1 fullscreen align__center--left" style="background-image: url('https://truonggiang.vn/wp-content/uploads/2022/09/banner-laptop-sinh-vien-2048x943-1.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="slider__content">
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="slide animation__style10 bg-image--7 fullscreen align__center--left" style="background-image: url('https://laptop360.net/wp-content/uploads/2025/07/Sum-mer-4.png') ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="slider__content">
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="slide animation__style10 bg-image--7 fullscreen align__center--left" style="background-image: url('https://www.techsignin.com/wp-content/uploads/2022/05/gia-ban-laptop-giam-manh-giua-thang-5-2.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="slider__content">
                    
                </div>
            </div>
        </div>
    </div>
</div>